<div class="mt-4">
<form method="POST" action="/course/store"> 
    <div class="form-group" style="margin-top: 100px;">
        <label for="search-input">Name </label>
        <input name="q" type="text" class="form-control" placeholder="Nhập Name...">
        <br />

         <label for="search-input">Gia </label>
        <input name="q" type="text" class="form-control" placeholder="Nhập Gia...">
        <button type="submit" class="btn btn-primary"> Tìm Kiếm</button>

    </div>

</form>

</div>