{{!-- <!DOCTYPE html>
<html>
   <head>
       <style>
           .Box1{
            background-color:black;
            width: 100%;
            height: 60px;
            position: relative;
           position: fixed;
           top: 0;
        }
       .LinhCloder{
           display: flex;
           justify-content: space-between;
       }
        
        .LinhCloderText {
         
            padding-right: 0;
            margin: 17px;
        }
        .Quy2002{
            color: aliceblue;
            color: coral;
            list-style: none;
            margin-left: 30px;
            display: inline-block;
            font-size: 25px;
            
        }
        .Quy{
            color: aliceblue;
            list-style: none;
            margin-left: 30px;
            display: inline-block;
            font-size: 20px;
        }
        .LinhCloderText2 {
            padding-left: 0;
            margin: 10px;
        }
        .Quy2{
            color: aliceblue;
            list-style: none;
            margin-right: 30px;
            display: inline-block;
            font-size: 20px;
        }
        .DangNhap{
            margin-bottom: 50px;
        }
       </style>
      <title>Hello Javascript</title>
      <script type = "text/javascript">
         function validateForm()  {
             var u = document.getElementById("username").value;
             var p = document.getElementById("password").value;
 
             if(u== "") {
                 alert("Vui lòng Nhập Tài khoản! ");
                 return false;
             }
             if(p == "") {
                 alert("Vui lòng Nhập Mật Khẩu! ");
                 return false;
             }
 
             alert("Đăng nhập thàng công! ")
 
             return true;
           
         }
      </script>
   </head>
   <body>
    <table>
        <div class="Box1">  
            <div class="LinhCloder">
            <ul class="LinhCloderText">
                <li class="Quy2002" > LinhCloder</li>
                <li class="Quy ">  <a href="TrangChuWed.html" style="color: aliceblue; text-decoration: none">Trang Chủ</li> </a>
                
            </ul>
            <ul class="LinhCLoderText2">
                <li class="Quy2">
                    Giỏ Hàng
                </li>
                <li class="Quy2">
                  <a href="DanhNhap.html" style="color: #ddd; text-decoration: none">  Đăng Nhập </a> 
                </li>
                <li class="Quy2" >
                    Đăng Xuất
                </li>
            </ul>
            
        </div>
        </div>
        <table> 
 <span style="text-align: center;">
    <p class="ĐangNhap">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

         <font size="+4" style="color:coral "> Đăng nhập </font>
 
      <div style="border:1px solid #ddd; padding: 5px;">
         <form method="GET" action="" onsubmit = "return validateForm()">
            Tài Khoản: <input type="text" name="username" id="username" placeholder="Nhập Tài Khoản">
            <br><br>
            Mật Khẩu: <input type="password" name = "password" id="password" placeholder="Nhập Mật Khẩu">
            <br><br>
            <button type="submit" >Đăng Nhập</button>
         </form>
         <div class="btn-box">
            <button type="submit">
           <a href="DangKy.html" style="color:black; text-decoration: none">    Đăng ký tk
                </a>	</button>
            
        </div>
      </div>
    </p>
    </span>
    <!-- <table>
      <img src="BÌA.jpg" width="1300" height="400 ">
  </table> -->
   </body>
</html> --}}